.u-section-1 .u-sheet-1 {
    min-height: 883px;
  }
  
  .u-section-1 .u-text-1 {
    font-weight: 700;
    width: 710px;
    margin: 60px auto 0;
  }
  
  .u-section-1 .u-text-2 {
    width: 543px;
    margin: 20px auto 0;
  }
  
  .u-section-1 .u-table-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  
  .u-section-1 .u-table-header-1 {
    letter-spacing: 0;
    font-size: 1.125rem;
    font-weight: 400;
    text-transform: none;
  }
  
  .u-section-1 .u-table-cell-2 {
    font-weight: 400;
    background-image: none;
    font-size: 1.125rem;
  }
  
  .u-section-1 .u-table-cell-3 {
    font-weight: 400;
    background-image: none;
    font-size: 1.125rem;
  }
  
  .u-section-1 .u-table-cell-4 {
    font-weight: 400;
    background-image: none;
    font-size: 1.125rem;
  }
  
  .u-section-1 .u-table-cell-5 {
    font-weight: 700;
  }
  
  .u-section-1 .u-table-cell-6 {
    font-size: 1.5rem;
    font-weight: 700;
  }
  
  .u-section-1 .u-table-cell-7 {
    font-size: 1.5rem;
    font-weight: 700;
    background-image: none;
  }
  
  .u-section-1 .u-table-cell-8 {
    font-size: 1.5rem;
    font-weight: 700;
  }
  
  .u-section-1 .u-table-cell-9 {
    font-weight: 700;
  }
  
  .u-section-1 .u-icon-1 {
    font-size: 1.75em;
  }
  
  .u-section-1 .u-table-cell-11 {
    background-image: none;
  }
  
  .u-section-1 .u-icon-2 {
    font-size: 1.75em;
  }
  
  .u-section-1 .u-icon-3 {
    font-size: 1.75em;
  }
  
  .u-section-1 .u-table-cell-13 {
    font-weight: 700;
  }
  
  .u-section-1 .u-icon-4 {
    font-size: 1.75em;
  }
  
  .u-section-1 .u-table-cell-15 {
    background-image: none;
  }
  
  .u-section-1 .u-icon-5 {
    font-size: 1.75em;
  }
  
  .u-section-1 .u-table-cell-16 {
    font-size: 0.875rem;
  }
  
  .u-section-1 .u-icon-6 {
    font-size: 2em;
  }
  
  .u-section-1 .u-table-cell-17 {
    font-weight: 700;
  }
  
  .u-section-1 .u-table-cell-18 {
    font-size: 0.875rem;
  }
  
  .u-section-1 .u-icon-7 {
    font-size: 1.2em;
  }
  
  .u-section-1 .u-table-cell-19 {
    background-image: none;
    font-size: 1rem;
  }
  
  .u-section-1 .u-icon-8 {
    font-size: 2em;
  }
  
  .u-section-1 .u-table-cell-20 {
    font-size: 0.875rem;
  }
  
  .u-section-1 .u-icon-9 {
    font-size: 2em;
  }
  
  .u-section-1 .u-table-cell-21 {
    font-weight: 700;
  }
  
  .u-section-1 .u-table-cell-22 {
    line-height: 1.2;
    font-size: 1rem;
  }
  
  .u-section-1 .u-icon-10 {
    font-size: 1.2em;
  }
  
  .u-section-1 .u-table-cell-23 {
    line-height: 1.2;
    background-image: none;
    font-size: 1rem;
  }
  
  .u-section-1 .u-icon-11 {
    font-size: 2em;
  }
  
  .u-section-1 .u-table-cell-24 {
    line-height: 1.2;
    font-size: 1rem;
  }
  
  .u-section-1 .u-icon-12 {
    font-size: 2em;
  }
  
  .u-section-1 .u-table-cell-25 {
    font-weight: 700;
  }
  
  .u-section-1 .u-table-cell-26 {
    line-height: 1.2;
    font-size: 1rem;
  }
  
  .u-section-1 .u-icon-13 {
    font-size: 1.2em;
  }
  
  .u-section-1 .u-table-cell-27 {
    line-height: 1.2;
    background-image: none;
    font-size: 1rem;
  }
  
  .u-section-1 .u-icon-14 {
    font-size: 1.2em;
  }
  
  .u-section-1 .u-table-cell-28 {
    line-height: 1.2;
    font-size: 1rem;
  }
  
  .u-section-1 .u-icon-15 {
    font-size: 2em;
  }
  
  .u-section-1 .u-table-cell-29 {
    font-weight: 700;
  }
  
  .u-section-1 .u-table-cell-30 {
    line-height: 1.2;
    font-size: 1rem;
  }
  
  .u-section-1 .u-btn-1 {
    border-style: solid;
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: none;
  }
  
  .u-section-1 .u-table-cell-31 {
    line-height: 1.2;
    background-image: none;
    font-weight: 700;
    font-size: 1rem;
  }
  
  .u-section-1 .u-btn-2 {
    text-transform: uppercase;
    font-size: 0.875rem;
    background-image: none;
    border-style: solid;
  }
  
  .u-section-1 .u-table-cell-32 {
    line-height: 1.2;
    font-size: 1rem;
  }
  
  .u-section-1 .u-btn-3 {
    border-style: solid;
    font-size: 0.875rem;
    background-image: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .u-block-9a6f-35 {
    background-image: none;
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-text-1 {
      width: 540px;
    }
  
    .u-section-1 .u-text-2 {
      width: 540px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-text-1 {
      width: 340px;
    }
  
    .u-section-1 .u-text-2 {
      width: 340px;
    }
  }